html{
  height: 100%;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  color: black;
  font-family: 'Questrial', sans-serif;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* If the screen size is 1081px wide or more */
@media screen and (min-width: 1081px) {
  img.avi{
    display: block;
    margin-top: 13vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 325px;
    width: 325px;
    animation: rotation 3.5s infinite linear;
  }

  h1.name{
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 550;
    margin-bottom: 0px;
  }

  h2#about{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 300;
  }

  a.about{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }

  h3.notice{
    margin-top: 0px;
    margin-bottom: 70px;
    font-weight: 300;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
  }

  .material-icons.md-48
  {
    vertical-align: text-bottom;
    font-size: 20px;
    color: black;
  }

  h3.clock{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 0;
  }

  h3#clockbox{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    margin-top: 12px;
    padding-bottom: 13vh;
  }
}

/* If the screen size is 1080px wide or less */
@media screen and (max-width: 1080px) {
  img.avi{
    display: block;
    margin-top: 13vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32vh;
    width: 32vh;
    animation: rotation 3.5s infinite linear;
  }

  h1.name{
    text-align: center;
    text-transform: uppercase;
    font-size: 5vh;
    font-weight: 550;
    margin-bottom: 0;
  }

  h2#about{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.75vh;
    font-size: 2.2vh;
    font-weight: 300;
  }

  a.about{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }

  h3.notice{
    margin-top: 0px;
    margin-bottom: 6vh;
    font-weight: 300;
    font-size: 2.1vh;
    text-transform: uppercase;
    text-align: center;
  }

  .material-icons.md-48
  {
    vertical-align: text-bottom;
    font-size: 2.1vh;
    color: black;
  }

  h3.clock{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.9vh;
    margin-bottom: 0;
  }

  h3#clockbox{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3.55vh;
    margin-top: 0.8vh;
    padding-bottom: 13vh;
  }
}
